nav {
	background-color: #a5d6a7;
}

nav ul a {
	
}

.welcome-card {
	height: 392px;
}

/*Welcome to garlic card on search/ home screen*/
.introCard {
	font-weight: normal;
	font-size: 15px;
}


/*Makes the Calorie and Serving Size on results smaller*/
.recipe-info {
	font-size: 15px;

}

/*makes the ingredients font smaller in the search return*/
.ingredient {
	font-size:17px;
}

/*Bolds the recipe name on the results cards*/
.recipe-name {
	font-weight:bold;
}

/*changes the color of the submit button*/
#submit {
	background-color: #a5d6a7;
}

/*body { 
  background: url(../images/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
.form-group {
	width: 650px;

}

body {
	font-family: 'Raleway', sans-serif;
}

#googleMaps {
	border-width: 1px;
	border-style: solid;
	height: 300px;
	width: 650px;
	text-align: center;
}

.col-lg-7, .col-lg-5 {
	padding-left: 75px;
	padding-right: 75px;
}

.wrapper {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* moves GARLIC on nav bar to the right*/
nav .brand-logo {
	margin-left: 10px;
}

.carousel .carousel-slider {
	margin-top: 5px;
}

img.carousel-item {
	margin-top: 8px;
}


/*Reveiws page header*/
h3 {
	width: 1000px;
	padding:10px;
	background-color: #b0bec5;
	color: white;
	border-radius: 20px;
	text-align: center;
	margin-left: 90px
}



p {
	vertical-align: middle;
}


.panel-body {
	background: whitesmoke;
	font-size: 18px;
}

.panel-title {
	font-size: 25px;
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #a5d6a7;
  border-color: #a5d6a7;
}

.panel-primary {
  border-color: black;
}

h4 {
	padding: 10px;
	background-color: #b0bec5;
	color: white;
	border-radius: 20px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}


p {
	font-weight: bold;
	font-size: 25px;
}