nav {
	background-color: #a5d6a7;
}

nav .nav-wrapper {
	height: 64px;
}

.welcome-card {
	height: 392px;
}

/*Welcome to garlic card on search/ home screen*/
.introCard {
	font-weight: normal;
	font-size: 15px;
}

/*Makes the Calorie and Serving Size on results smaller*/
.recipe-info {
	font-size: 15px;
}

/*makes the ingredients font smaller in the search return*/
.ingredient {
	font-size:17px;
}

/*Bolds the recipe name on the results cards*/
.recipe-name {
	font-weight:bold;
}

/*changes the color of the submit button*/
#submit {
	background-color: #a5d6a7;
}

body {
	font-family: 'Raleway', sans-serif;
}

#googleMaps {
	border-width: 1px;
	border-style: solid;
	height: 400px;
	width: 100%;
	text-align: center;
}

.wrapper {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* moves GARLIC on nav bar to the right*/
nav .brand-logo {
	margin-left: 10px;
}

/* top margin for image carousel */
img.carousel-item {
	margin-top: 8px;
}

/*Reveiws page header*/
h3 {
	width: 100%;
	padding:10px;
	background-color: #b0bec5;
	color: white;
	border-radius: 20px;
	text-align: center;
}

/* list page headers */
h4 {
	padding: 10px;
	background-color: #b0bec5;
	color: white;
	border-radius: 20px;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
}

p {
	vertical-align: middle;
	font-weight: bold;
	font-size: 25px;
}

.panel-body {
	background: whitesmoke;
	font-size: 18px;
}

.panel-title {
	font-size: 25px;
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #a5d6a7;
  border-color: #a5d6a7;
}

.panel-primary {
  border-color: black;
}