nav .nav-wrapper {
	padding-left: 35px;
	padding-right: 35px;
}

nav {
	background-color: #a5d6a7;
}

nav ul a {
	font-size: 19px;
}


/*body { 
  background: url(../images/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
.form-group {
	width: 650px;

}

body {
	font-family: 'Raleway', sans-serif;
}

#googleMaps {
	border-width: 1px;
	border-style: solid;
	height: 300px;
	width: 650px;
	text-align: center;
}

.col-lg-7, .col-lg-5 {
	padding-left: 75px;
	padding-right: 75px;
}

.wrapper {
	margin-top: 40px;
	margin-bottom: 40px;
}

.panel-primary>.panel-heading {
	background-color: #a5d6a7;
    border-color: #a5d6a7;
    font-size: 20px;
}

.jumbotron {
	background-color: #b0bec5;
    color: white;
    padding: 10px;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.panel-primary {
	opacity: .9;
	border-color: black;
}

.panel-body {
	background: whitesmoke;
	font-size: 18px;
}

.panel-title {
	font-size: 25px;
}


.carousel carousel-slider{
	margin-top: 5px;
}


p {
	font-weight: bold;
	font-size: 25px;
}